@model SnackListViewModel

<div>
    <h2>@Model.CategoryActual</h2>
</div>


<div class="container">
    <div class="row">
        @foreach(var snack in Model.Snacks)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <p><img src="@snack.ImageUrl" width="225px" height="225px"></p>
                <h3>Preço : @snack.Price.ToString("c")</h3>
                <h4>@snack.Name</h4>
                <p>@snack.DescriptionShort</p>
            </div>
        }
    </div>
</div>

